<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" />
  
  <add key="ApplicationName" value="Google Sheets API" />
  <!--Prod-->
  <!--<add key="SpreadSheetId" value="1W-iVgN2CwdpEYK67CsCpr-eAesyHjcrhXiM7U_HI2Js"/>-->
  <!--Dev-->
  <add key="SpreadSheetId" value="18YnktzdTc1LFhG12K2eD_kAvyRWIAzdlEBVZFk5sw1U"/>
  
  <add key="QuestionSheetName" value="Response"/>
  <add key="ResponseSheetName" value="Response"/>
  <add key="ResponseSheetRowsCapacity" value="1000"/>
  <add key="SheetColumnsCapacity" value="Z"/>

  <add key="RedirectUrl" value="http://gspann.com/"/>

  <!--obscure URL Section-->
  <add key="SecretKey" value="LFhG11LFhG18YnktzdTc1LFhG12K2eD_kAvyRWIAzdlEBVZ" />
</appSettings>
